# **Task 1**

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
missing_data = df.isnull().sum()
print("Missing values in each column:")
print(missing_data)

Missing values in each column:
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [16]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [17]:
print("Column names in the dataset:")
print(df.columns)

Column names in the dataset:
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [19]:
numeric_columns = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
for col in numeric_columns:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)  # Explicitly assign back to the column
    print(f"Filled missing values in {col} with median: {median_value}")

Filled missing values in SepalLengthCm with median: 5.8
Filled missing values in SepalWidthCm with median: 3.0
Filled missing values in PetalLengthCm with median: 4.35
Filled missing values in PetalWidthCm with median: 1.3

In [22]:
if df['Species'].isnull().sum() > 0:
    mode_value = df['Species'].mode()[0]
    df['Species'] = df['Species'].fillna(mode_value)  # Explicitly assign back to the column
    print(f"Filled missing values in 'Species' with mode: {mode_value}")

# **Task 2**

In [23]:
before_dedup = len(df)
df = df.drop_duplicates()
after_dedup = len(df)
print(f"Removed {before_dedup - after_dedup} duplicate rows.")

Removed 0 duplicate rows.

In [ ]:
df['SepalArea'] = df['SepalLengthCm'] * df['SepalWidthCm']
df['PetalArea'] = df['PetalLengthCm'] * df['PetalWidthCm']
df['TotalArea'] = df['SepalArea'] + df['PetalArea']

In [24]:
df = df.dropna()
print("Number of rows after dropping rows with missing values:", len(df))

Number of rows after dropping rows with missing values: 150

# **Task 3**

In [25]:
df['Species'] = df['Species'].astype('category').cat.codes
print("Converted 'Species' column to numerical format.")

Converted 'Species' column to numerical format.

In [26]:
aggregated_data = df.groupby('Species')[numeric_columns].sum()
print("Sum of numeric features per species:")
print(aggregated_data)

Sum of numeric features per species:
         SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
0                250.3         170.9           73.2          12.2
1                296.8         138.5          213.0          66.3
2                329.4         148.7          277.6         101.3

# **TasK 4**

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
long_format_df = pd.melt(
    df,
    id_vars=['Id', 'Species'],  # Columns to keep as is
    value_vars=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],  # Columns to melt
    var_name='Measurement',  # New column for measurement type
    value_name='Value'  # New column for values
)


print("Long format dataset (first 5 rows):")
print(long_format_df.head())

Long format dataset (first 5 rows):
   Id  Species    Measurement  Value
0   1        0  SepalLengthCm    5.1
1   2        0  SepalLengthCm    4.9
2   3        0  SepalLengthCm    4.7
3   4        0  SepalLengthCm    4.6
4   5        0  SepalLengthCm    5.0